/*  ---------- IMPORT CSS ---------- */

@import url(./header-footer.css);

/* ---------- MAIN SECTION ---------- */

.main {
	/* display: flex; */
	text-align: center;
	padding: 100px 0 0px;
}

main > h2 {
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}
main > p {
	width: 500px;
	margin: 10px auto;
}

.main-mission > img {
	width: 800px;
	height: 400px;
	object-fit: cover;
	/* border: 1px solid red; */
}

/*  ---------- SECTION 1 ---------- */

.section1-feature {
	text-align: center;
	margin: 0px 10px;
}

.section1-feature > h1 {
	font-size: 40px;
	text-transform: uppercase;
}

.features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	margin-top: 10px;
}

.feature-img {
	margin-top: 50px;
}

.feature-img > img {
	width: 400px;
	height: 300px;
	object-fit: cover;
	border-radius: 15px;
	box-shadow: 0px 5px 15px black;
}

.feature-text {
	width: 500px;
	margin-top: 60px;
}

.feature-text h3 {
	font-size: 25px;
}

.feature-text > p {
	padding: 30px 50px;
	text-align: center;
}

.text3 {
	margin-bottom: 50px;
}
